<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>net.obscura.vpn-client-app</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>obscuravpn</string>
			</array>
		</dict>
	</array>
	<key>OSLogPreferences</key>
	<dict>
		<key>com.apple.extensionkit</key>
		<dict>
			<key>DEFAULT-OPTIONS</key>
			<dict>
				<key>Enable-Oversize-Messages</key>
				<true/>
				<key>Enable-Private-Data</key>
				<true/>
				<key>Level</key>
				<dict>
					<key>Enable</key>
					<string>Debug</string>
					<key>Persist</key>
					<string>Debug</string>
				</dict>
			</dict>
		</dict>
		<key>com.apple.xpc.transaction</key>
		<dict>
			<key>DEFAULT-OPTIONS</key>
			<dict>
				<key>Enable-Oversize-Messages</key>
				<true/>
				<key>Enable-Private-Data</key>
				<true/>
				<key>Level</key>
				<dict>
					<key>Enable</key>
					<string>Debug</string>
					<key>Persist</key>
					<string>Debug</string>
				</dict>
			</dict>
		</dict>
		<key>net.obscura.vpn-client-app</key>
		<dict>
			<key>DEFAULT-OPTIONS</key>
			<dict>
				<key>Enable-Oversize-Messages</key>
				<true/>
				<key>Enable-Private-Data</key>
				<true/>
				<key>Level</key>
				<dict>
					<key>Enable</key>
					<string>Debug</string>
					<key>Persist</key>
					<string>Debug</string>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>Obscura</key>
	<dict>
		<key>OBSCURA_NETWORK_EXTENSION_BUNDLE_ID</key>
		<string>$(OBSCURA_NETWORK_EXTENSION_BUNDLE_ID)</string>
		<key>AppGroupIdentifier</key>
		<string>$(OBSCURA_APP_APP_GROUP_ID)</string>
		<key>ObscuraSourceId</key>
		<string>$(OBSCURA_SOURCE_ID)</string>
		<key>ObscuraSourceVersion</key>
		<string>$(OBSCURA_SOURCE_VERSION)</string>
	</dict>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUEnableInstallerLauncherService</key>
	<true/>
	<key>SUFeedURL</key>
	<string>https://pkgs.obscura.net/macos/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>R4CNa/L1zQGVdNot8RDQOpAxJdwzBGnZnLR/6G/Zyts=</string>
	<key>SUScheduledCheckInterval</key>
	<integer>21600</integer>
</dict>
</plist>
