.chip {
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: var(-mantine-color-teal-1);
}

.button {

    &:disabled,
    &[data-disabled] {
        border-color: light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
        background-color: light-dark(var(--mantine-color-gray-6), var(--mantine-color-dark-3));
        color: var(--mantine-color-white)
    }
}

@media screen and (max-width: $mantine-breakpoint-xs) {
    .desktopOnly {
        display: none;
    }
}

@media screen and (min-width: $mantine-breakpoint-xs) {
    .mobileOnly {
        display: none !important;
    }
}

.bottomSheet {
    border-radius: var(--mantine-radius-lg) var(--mantine-radius-lg) 0 0 !important;
}
