[Unit]
Description=Obscura VPN
After=network.target
StartLimitIntervalSec=0

[Service]
Type=notify
ExecStart=/usr/bin/obscura service
FileDescriptorStoreMax=8
Group=obscura
UMask=0007
StateDirectory=obscura
StateDirectoryMode=0750
LogsDirectory=obscura
LogsDirectoryMode=0750
Restart=always
RestartSec=1
RestartSteps=5
RestartMaxDelaySec=30

[Install]
WantedBy=multi-user.target
