PRODUCT_BUNDLE_IDENTIFIER = $(OBSCURA_APP_NETWORK_EXTENSION_PRODUCT_BUNDLE_IDENTIFIER)
INFOPLIST_KEY_CFBundleDisplayName = Obscura Network Extension
INFOPLIST_FILE = app-network-extension/Info.plist
GENERATE_INFOPLIST_FILE = YES

CODE_SIGN_ENTITLEMENTS = app-network-extension/entitlements.entitlements
