.container {
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

@media screen and (max-width: $mantine-breakpoint-sm) {
    .container {
        padding-top: 40px;
        justify-content: flex-end;
    }

    .ossLicensesGroup {
        flex-direction: column;
        text-align: center;
    }
}
