.container {
    padding: 20px 60px;
}

@media screen and (max-width: $mantine-breakpoint-xs) {
    .container {
        padding-top: calc(20px + env(safe-area-inset-top));
        padding-bottom: 50px;
        padding-left: 20px;
        padding-right: 20px;
    }
}
