.connectionProgressBarGroup {
    justify-content: center !important;

    @media (min-width: 600px) {
        justify-content: space-between !important;
    }
}

.trafficVulnerableProgressBar {
    width: calc(100vw * 0.33);

    @media (min-width: 700px) {
        width: 325px;
    }
}

.container {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
}

@media screen and (max-width: $mantine-breakpoint-xs) {
    .container {
        padding-top: env(safe-area-inset-top);
    }
}

.locationDividerCaption {
    width: 28rem;
}

@media screen and (max-width: $mantine-breakpoint-xs) {
    .locationDividerCaption {
        width: 320px;
    }
}
