.container {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
}

.connectionProgressBarContainer {
    width: 80%;
    min-width: fit-content;
}

.connectionProgressBarGroup {
    justify-content: center !important;

    @media (min-width: 600px) {
        justify-content: space-between !important;
    }
}

.trafficVulnerableProgressBar {
    width: calc(100vw * 0.33);

    @media (min-width: 700px) {
        width: 325px;
    }
}

.locationDividerCaption {
    width: 28rem;
}

@media screen and (max-width: $mantine-breakpoint-xs) {
    .container {
        padding-top: env(safe-area-inset-top);
    }

    .connectionProgressBarContainer {
        width: 85%;
    }

    .connectionProgressBarGroup {
        gap: 0 !important;
    }

    .locationDividerCaption {
        width: 320px;
    }

    .checkMyConnection {
        display: none;
    }
}
