.locationCardConnected, .locationCardNotConnected {
    cursor: pointer;
}

@media (hover: hover) {
    .locationCardNotConnected:hover:not(:has(.favoriteBtn:hover)) {
        background-color: light-dark(#f5f5f5, var(--mantine-color-dark-4));

        @mixin light {
            border-color: var(--mantine-color-teal-5) !important;
            border-width: 1px !important;
        }
    }
}

.locationCardNotConnected:active:not(:has(.favoriteBtn:active)) {
    transform: translateY(2px);
}

.locationCardConnected {
    border-color: var(--mantine-primary-color-filled) !important;
    border-width: 2px !important;
}

.locationCardConnected, .locationCardDisabled {
    cursor: not-allowed;
}


.item {
    &[data-active] {
        z-index: 1;
        background-color: var(--mantine-color-body);
        border-color: light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-4));
        box-shadow: var(--mantine-shadow-md);
        border-radius: var(--mantine-radius-md);
    }
}

.container {
    padding: 20px 60px;
}

@media screen and (max-width: $mantine-breakpoint-xs) {
    .container {
        padding-top: calc(20px + env(safe-area-inset-top));
        padding-bottom: 56px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .serverInfoText {
        display: none !important;
    }
}

@media screen and (min-width: $mantine-breakpoint-xs) {
    .currentSession {
        flex-direction: column;
    }
}
