.scrollbar {
  &[data-orientation='vertical'] .thumb {
    background-color: light-dark(var(--mantine-color-dark-3), var(--mantine-color-dark-2));
  }
}

.content {
    padding-top: var(--safe-area-inset-top, env(safe-area-inset-top));
    padding-bottom: var(--safe-area-inset-bottom, env(safe-area-inset-bottom));
    padding-left: var(--safe-area-inset-left, env(safe-area-inset-left));
    padding-right: var(--safe-area-inset-right, env(safe-area-inset-right));
}

.corner {
  background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
  opacity: 1;
}

::-webkit-scrollbar-thumb {
    background-color: light-dark(var(--mantine-color-dark-3), var(--mantine-color-dark-2));
}
