<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.networkextension.packet-tunnel</string>
		<key>NSExtensionPrincipalClass</key>
		<string>$(PRODUCT_MODULE_NAME).PacketTunnelProvider</string>
	</dict>
	<key>OSLogPreferences</key>
	<dict>
		<key>net.obscura.vpn-client-app-ios.app-network-extension</key>
		<dict>
			<key>DEFAULT-OPTIONS</key>
			<dict>
				<key>Enable-Oversize-Messages</key>
				<true/>
				<key>Enable-Private-Data</key>
				<true/>
				<key>Level</key>
				<dict>
					<key>Enable</key>
					<string>Debug</string>
					<key>Persist</key>
					<string>Debug</string>
				</dict>
			</dict>
		</dict>
		<key>com.apple.extensionkit</key>
		<dict>
			<key>DEFAULT-OPTIONS</key>
			<dict>
				<key>Enable-Oversize-Messages</key>
				<true/>
				<key>Enable-Private-Data</key>
				<true/>
				<key>Level</key>
				<dict>
					<key>Enable</key>
					<string>Debug</string>
					<key>Persist</key>
					<string>Debug</string>
				</dict>
			</dict>
		</dict>
		<key>com.apple.xpc.transaction</key>
		<dict>
			<key>DEFAULT-OPTIONS</key>
			<dict>
				<key>Enable-Oversize-Messages</key>
				<true/>
				<key>Enable-Private-Data</key>
				<true/>
				<key>Level</key>
				<dict>
					<key>Enable</key>
					<string>Debug</string>
					<key>Persist</key>
					<string>Debug</string>
				</dict>
			</dict>
		</dict>
		<key>net.obscura.rust-apple</key>
		<dict>
			<key>DEFAULT-OPTIONS</key>
			<dict>
				<key>Enable-Oversize-Messages</key>
				<true/>
				<key>Enable-Private-Data</key>
				<true/>
				<key>Level</key>
				<dict>
					<key>Enable</key>
					<string>Debug</string>
					<key>Persist</key>
					<string>Debug</string>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>Obscura</key>
	<dict>
		<key>ObscuraSourceVersion</key>
		<string>$(OBSCURA_SOURCE_VERSION)</string>
		<key>AppGroupIdentifier</key>
		<string>$(OBSCURA_APP_APP_GROUP_ID)</string>
	</dict>
</dict>
</plist>
