[Unit]
Description=Obscura VPN
After=network.target

[Service]
ExecStart=/usr/bin/obscura service
Group=obscura
UMask=0007
Restart=on-failure

[Install]
WantedBy=multi-user.target
