.navLink {
    display: block;
    width: 100%;
    padding: var(--mantine-spacing-xs);
    border-radius: var(--mantine-radius-md);
    color: light-dark(var(--mantine-color-black), var(--mantine-color-dark-0));
    text-decoration: none;
    will-change: transform;
}

.navLink:hover:active {
    transform: translateY(2px);
}

.navLinkActive {
    background-color: light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-5));
}

.navLinkInactive:hover {
    background-color: light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-6));
}

.header {
    display: flex;
    align-items: center;
    height: 100%;
}

.headerRightItems {
    margin-left: auto;
}

body {
    background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-8));
}

.mediaQuery {
    display: none;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
